<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar html" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <!-- <img src="https://user-images.githubusercontent.com/119962472/218918467-a7ec6034-5569-4a35-bacc-2c11ef3f250a.png" width="100px"> -->
            <h1> Fitness4u</h1>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbar" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
      
            <!-- <a class="navbar-item">
              Documentation
            </a> -->
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://github.com/Henrich77/Fitness4u.git">
                  About
                </a>
                <!-- <a class="navbar-item">
                  Jobs
                </a> -->
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <!-- <a class="navbar-item">
                  Report an issue
                </a> -->
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary button2" href="/profile">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light button2" href="/profile">
                  <strong>Log in</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <h2 id="quote"></h2>
      <a href="/profile"><div id="getStarted"></div></a>


      {{{body}}}



      <img src="https://user-images.githubusercontent.com/119962472/218920155-1682077c-6767-4cda-ad4f-608ffd104304.jpeg" alt="Your Image" style="width: 100%; height: auto; margin: 0%;">
    
    
</body>
</html>