<form class="form login-form box">
    <h2 class="is-size-3">Sign In</h2>
    <h3 class="is-size-4 has-text-weight-semibold">Email</h3>
    <input class="input is-info is-large" id="email-login" type="email" placeholder="email">
    <h3 class="is-size-4 has-text-weight-semibold">Password</h3>
    <input class="input is-info is-large" id="password-login" type="password" placeholder="password">
    <button class="button is-black login-form">Submit</button>
</form>

<form class="form signup-form box" id="signup-form">
    <h2 class="is-size-3">Sign Up</h2>
    <h3 class="is-size-4 has-text-weight-semibold">Name</h3>
    <input class="input is-info is-large" id="name-signup" type="text" placeholder="name">
    <h3 class="is-size-4 has-text-weight-semibold">Email</h3>
    <input class="input is-info is-large" id="email-signup" type="text" placeholder="email">
    <h3 class="is-size-4 has-text-weight-semibold">Password</h3>
    <input class="input is-info is-large" id="password-signup" type="password" placeholder="password at least 8 characters">
    <button class="button is-black signup-form">Submit</button>
</form>

<script src="./js/login.js"></script>