/* body {
    background-image: linear-gradient(to right, #FFC107, #FF5733);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1em;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 1em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }
  
  section {
    background-color: #fff;
    color: #333;
    width: 30%;
    padding: 1em;
    text-align: center;
  } */

  main {
    min-height: 90vh;
}

button {
    margin: 1rem;
}

.custom-plans {

  margin-bottom: 1rem;
}

header {
  border-bottom: black solid 3px;
}

.profile-div {
  background-image: url("../../805233.jpeg");
}